body,html{height: 100%;}
*{
    margin:0;
    padding:0
}
body
{ 
    background-image: url("../images/microphone-1209816_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#sfondo {
    width: 100%;
    height: 100%;
    background-color: rgba(208, 208, 208, 0.8);
}

#header{ padding:30px}

.logo{width:110px; height:auto;  vertical-align: middle;}

#maintitle{ font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;}

hr{border: 2px solid #A8392D; margin-top: 20px;}

#search{width: 96%; margin:auto; padding: 20px; border: 1px solid black;}

.slogan{margin-top: 10px;
  
     margin-left: auto;
    margin-right: auto; 
    background:rgba(238, 118, 0,0.5); padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke
}

#main
{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 20px;
    border: 3px solid #A8392D
}

.song
{margin:10px;
     padding:10px; 
     border: 1px solid black;
   
}
    audio{vertical-align: middle;}
